

<section class="promises">
  <div class="row row-cols-1 row-cols-md-5 g-4">
    @for (user of arrayUsers; track user) {
      <article class="col">
      <app-user-card [myUser]="user"></app-user-card>
      </article>
    }
  </div>
</section>

<!-- <div class="d-flex justify-content-between align-items-center py-3">
  <button class="btn btn-warning" (click)="gotoPrev()" [disabled]="currentPage === 1">PREV</button>
  <span class="fw-semibold">Página {{ currentPage }} / {{ totalPages }}</span>
  <button class="btn btn-warning" (click)="gotoNext()" [disabled]="currentPage === totalPages">NEXT</button>
</div> -->