<hr>
<section class="promises">
  <div class="row row-cols-1 row-cols-md-5 g-4">
    @for (user of arrayUsers; track user) {
      <article class="col">
      <app-user-card [myUser]="user"></app-user-card>
      </article>
    }
  </div>
</section>
<hr>

<div class="pagination justify-content-center d-flex align-items-center gap-3 m-4">
  <button class="btn btn-warning" (click)="gotoPrev()">Prev</button>
  <p class="m-0 fw-bold">Page: {{currentPage}}</p> 
  <button class="btn btn-warning" (click)="gotoNext()">Next</button>
</div>


