<div class="row row-cols-auto card shadow-sm">

  <figure>
    <img class="col-md-6" [src]="myUser()?.image" [alt]="myUser()?.first_name">
  </figure>

  <div class="p-6 text-center">
    <h3 class="text-dark">{{ myUser()?.first_name }} {{ myUser()?.last_name }}</h3>
    <!-- <p class="text-warning">{{ myUser()?.email }} - {{ myUser()?.username }}</p> -->
  </div>
  <div>
    <button [routerLink]="['/users', myUser()?._id]">Ver Detalle</button>
    <button>Actualizar</button>
    <button>Eliminar</button>
  </div>
</div>