<div class="card h-100 shadow-sm">
  <!-- Imagen arriba -->
  <img 
    [src]="myUser()?.image || 'assets/no-image.png'" 
    class="card-img-top img-fluid" 
    [alt]="myUser()?.first_name" 
    onerror="this.src='assets/no-image.png'"
  />


  <!-- Cuerpo -->
  <div class="card-body d-flex flex-column text-center">
    <h5 class="card-title text-dark">
      {{ myUser()?.first_name }} {{ myUser()?.last_name }}
    </h5>
    <!-- <p class="card-text text-muted mb-3">
      {{ myUser()?.email }} <br />
      <small class="text-secondary">{{ myUser()?.username }}</small>
    </p> --
     < // [routerLink]="['/dashboard', 'empleado', myEmployee._id]" // -->

    <!-- Botones al fondo -->
    <div class="mt-auto d-flex flex-column gap-2">
     
      <button class="justify-content-center btn btn-outline-primary btn-sm d-flex align-items-center gap-1"
        [routerLink]="['/dashboard','users', myUser()?._id]">
  <i class="bi bi-search"></i>
  Ver Detalle
</button>

<button class="justify-content-center btn btn-outline-success btn-sm d-flex align-items-center gap-1"
        [routerLink]="['/dashboard','updateUser', myUser()?._id]">
  <i class="bi bi-arrow-repeat"></i>
  Editar
</button>

<button class="justify-content-center btn btn-outline-danger btn-sm d-flex align-items-center gap-1"
        (click)="onDelete()" >
  <i class="bi bi-trash"></i>
  Eliminar
</button>
    </div>
  </div>
</div>

 